KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/pic.o \
$(ARCHDIR)/memory/pmm.o \
$(ARCHDIR)/memory/vmm.o \