KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/isr_a.o \
$(ARCHDIR)/interrupts/isr.o \
$(ARCHDIR)/interrupts/pic.o \
$(ARCHDIR)/kearly.o \
$(ARCHDIR)/drivers/pit/pit.o \
$(ARCHDIR)/drivers/keyboard/keyboard.o 